.dd-modal {
  .modal-body {
    height: 240px;
  }

  .dropdown {
    text-align: center;
  }

  .dropdown-toggle {
    width: 200px;
  }

  button.close {
    background: transparent;
    border: transparent;
  }
}
